<%- include('partials/header')%>

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <%- include('partials/sidebar menu')%>
                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">
                    <!-- Main Content -->
                    <div id="content">
                        <%- include('partials/topbar menu')%>
                            <!-- Begin Page Content -->
                            <div class="container-fluid">
                                <!-- Page Heading -->
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Blank</h1>
                                </div>
                            </div>
                    </div>
                    <%- include('partials/footer')%>
                </div>
    </body>