<%- include('partials/header')%>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <%- include('partials/sidebar menu')%>

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Main Content -->
                    <div id="content">

                        <%- include('partials/topbar menu')%>

                            <!-- Begin Page Content -->
                            <div class="container-fluid">

                                <!-- Page Heading -->
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                                    <a href="/data/csv" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="csvLink">
                                        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                                    </a>
                                </div>

                                <!-- Content Row -->
                                <div class="row-auto mb-3">
                                    <div class="card shadow mb-4">
                                        <div class="card-header">
                                            <h5 class="m-0 font-weight-bold text-primary">Date Settings</h5>
                                        </div>
                                        <div class="card-body">
                                            <form id="dashboardForm">
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label for="startDate" class="col-form-label">Start Date</label>
                                                        <input type="date" class="form-control" id="startDate"
                                                            name="startDate">
                                                    </div>
                                                    <div class="col-md-6 pl-0">
                                                        <label for="endDate" class="col-form-label">End Date</label>
                                                        <input type="date" class="form-control" id="endDate"
                                                            name="endDate">
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-success btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fa-solid fa-check"></i>
                                                </span>
                                                <span class="text">Query</span>
                                            </button>
                                            </form>
                                            <a href="/" class="btn btn-warning btn-icon-split">
                                                <span class="icon text-white-50">
                                                    <i class="fa-solid fa-arrow-left"></i>
                                                </span>
                                                <span class="text">Reset</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-primary shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Purchases</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="purchases">Rp 0,00
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Sales</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="sales">
                                                            Rp 0,00
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-info shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                            Earning</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="earning">Rp 0,00</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-md-6 mb-4">
                                        <div class="card border-left-warning shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div
                                                            class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                            Total Sales</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="totalsales">0</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xl-8 col-lg-7">
                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Dropdown -->
                                            <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle" href="#" role="button"
                                                        id="dropdownMenuLink" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                        aria-labelledby="dropdownMenuLink">
                                                        <div class="dropdown-header">Dropdown Header:</div>
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another action</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Card Body -->
                                            <div class="card-body">
                                                <div class="chart-area">
                                                    <canvas id="myAreaChart"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Pie Chart -->
                                    <div class="col-xl-4 col-lg-5">
                                        <div class="card shadow mb-4">
                                            <!-- Card Header - Dropdown -->
                                            <div
                                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle" href="#" role="button"
                                                        id="dropdownMenuLink" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                        aria-labelledby="dropdownMenuLink">
                                                        <div class="dropdown-header">Dropdown Header:</div>
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another action</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Card Body -->
                                            <div class="card-body">
                                                <div class="chart-pie pt-4 pb-2">
                                                    <canvas id="myPieChart"></canvas>
                                                </div>
                                                <div class="mt-4 text-center small">
                                                    <span class="mr-2">
                                                        <i class="fas fa-circle text-primary"></i> Direct
                                                    </span>
                                                    <span class="mr-2">
                                                        <i class="fas fa-circle text-success"></i> Customer
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-auto">
                                    <div class="card shadow mb-4">
                                        <div class="card-header">
                                            <h6 class="m-0 font-weight-bold text-primary">Earnings Monthly Report</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-6">
                                                            <div class="dataTables_length"><label>Show
                                                                    <select name="dataTable_length"
                                                                        id="dataTable_length" aria-controls="dataTable"
                                                                        class="custom-select custom-select-sm form-control form-control-sm">
                                                                        <option value=3>3</option>
                                                                        <option value=10>10</option>
                                                                        <option value=100>100</option>
                                                                    </select> entries</label></div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-6">
                                                            <div id="dataTable_filter" class="dataTables_filter">
                                                                <label>Search:<input type="search" id="search-input"
                                                                        class="form-control form-control-sm"
                                                                        placeholder=""
                                                                        aria-controls="dataTable"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <table class="table table-bordered dataTable" id="dataTable"
                                                                width="100%" cellspacing="0" role="grid"
                                                                aria-describedby="dataTable_info" style="width: 100%;">
                                                                <thead>
                                                                    <tr role="row">
                                                                        <th id="monthlyThead"
                                                                            class="sorting sorting_asc" tabindex="0"
                                                                            aria-controls="dataTable" rowspan="1"
                                                                            colspan="1"
                                                                            aria-label="Monthly: activate to sort column descending"
                                                                            style="width: 162px;" aria-sort="ascending">
                                                                            Monthly
                                                                        </th>
                                                                        <th id="expenseThead" class="sorting"
                                                                            tabindex="0" aria-controls="dataTable"
                                                                            rowspan="1" colspan="1"
                                                                            aria-label="Expense: activate to sort column ascending"
                                                                            style="width: 162px;">Expense
                                                                        </th>
                                                                        <th id="revenueThead" class="sorting"
                                                                            tabindex="0" aria-controls="dataTable"
                                                                            rowspan="1" colspan="1"
                                                                            aria-label="Revenue: activate to sort column ascending"
                                                                            style="width: 162px;">Revenue
                                                                        </th>
                                                                        <th id="earningThead" class="sorting"
                                                                            tabindex="0" aria-controls="dataTable"
                                                                            rowspan="1" colspan="1"
                                                                            aria-label="Earning: activate to sort column ascending"
                                                                            style="width: 162px;">Earning
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tfoot>
                                                                    <tr>
                                                                        <th rowspan="1" colspan="1">Total</th>
                                                                        <th rowspan="1" colspan="1">Rp 0,00</th>
                                                                        <th rowspan="1" colspan="1">Rp 0,00</th>
                                                                        <th rowspan="1" colspan="1">Rp 0,00</th>
                                                                    </tr>
                                                                </tfoot>
                                                                <tbody>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-5">
                                                            <div class="dataTables_info" id="dataTable_info"
                                                                role="status" aria-live="polite">Showing 0 to 0 of 0
                                                                entries</div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-7">
                                                            <div class="dataTables_paginate paging_simple_numbers"
                                                                id="dataTable_paginate">
                                                                <ul class="pagination">

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.container-fluid -->
                    </div>
                    <!-- End of Main Content -->
                    <%- include('partials/footer.ejs')%>
                </div>
                <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <script src="vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Page level plugins -->
        <script src="/vendor/chart.js/Chart.min.js"></script>

        <script>
            var readParams = {
                page: 1,
                totalPages: 1,
                limit: 3,
                sortBy: "date",
                order: "asc",
                endDate: '',
                startDate: '',
                query: ''
            }

            var readParamsCSV = {
                page: 1,
                totalPages: 1,
                limit: 3,
                sortBy: "date",
                order: "asc",
                endDate: '',
                startDate: '',
                query: ''
            }

            function formatCurrency(value) {
                const formatter = new Intl.NumberFormat('id-ID', {
                    style: 'currency',
                    currency: 'IDR',
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2
                });
                return formatter.format(value);
            }

            // Set new default font family and font color to mimic Bootstrap's default styling
            Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
            Chart.defaults.global.defaultFontColor = '#858796';

            function number_format(number, decimals, dec_point, thousands_sep) {
                // *     example: number_format(1234.56, 2, ',', ' ');
                // *     return: '1 234,56'
                number = (number + '').replace(',', '').replace(' ', '');
                var n = !isFinite(+number) ? 0 : +number,
                    prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                    sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                    dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                    s = '',
                    toFixedFix = function (n, prec) {
                        var k = Math.pow(10, prec);
                        return '' + Math.round(n * k) / k;
                    };
                // Fix for IE parseFloat(0.55).toFixed(0) = 0;
                s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
                if (s[0].length > 3) {
                    s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
                }
                if ((s[1] || '').length < prec) {
                    s[1] = s[1] || '';
                    s[1] += new Array(prec - s[1].length + 1).join('0');
                }
                return s.join(dec);
            }

            // Area Chart Example
            var ctx = document.getElementById("myAreaChart");
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['Jan 24', 'Feb 24', 'Mar 24', 'Apr 24'],
                    datasets: [{
                        label: "Earnings",
                        lineTension: 0.3,
                        backgroundColor: "rgba(78, 115, 223, 0.05)",
                        borderColor: "rgba(78, 115, 223, 1)",
                        pointRadius: 3,
                        pointBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointBorderColor: "rgba(78, 115, 223, 1)",
                        pointHoverRadius: 3,
                        pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                        pointHitRadius: 10,
                        pointBorderWidth: 2,
                        data: [0, 100000, 50000, 150000, 100000]
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 7
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                // maxTicksLimit: 5,
                                beginAtZero: true,
                                padding: 10,
                                // Include a dollar sign in the ticks
                                callback: function (value, index, values) {
                                    return 'Rp' + number_format(value);
                                }
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }],
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        titleMarginBottom: 10,
                        titleFontColor: '#6e707e',
                        titleFontSize: 14,
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        intersect: false,
                        mode: 'index',
                        caretPadding: 10,
                        callbacks: {
                            label: function (tooltipItem, chart) {
                                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                return datasetLabel + ': Rp' + number_format(tooltipItem.yLabel);
                            }
                        }
                    }
                }
            });

            // console.log(chartCustomerLabel)
            // console.log(chartCustomerSales)

            // Pie Chart Example
            var ctx2 = document.getElementById("myPieChart");
            var myPieChart = new Chart(ctx2, {
                type: 'doughnut',
                data: {
                    labels: ['Customer', 'Direct'],
                    datasets: [{
                        data: [5, 5],
                        backgroundColor: ['#4e73df', '#1cc88a'],
                        hoverBackgroundColor: ['#2e59d9', '#17a673'],
                        hoverBorderColor: "rgba(234, 236, 244, 1)",
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                    },
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                },
            });

            const readData = (params) => {
                var chartLabels = []
                var chartData = []
                var chartCustomerLabel = []
                var chartCustomerSales = []

                fetch(`http://localhost:3000/data/?${new URLSearchParams(params).toString()}`).then((response) => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                }).then((response) => {
                    let newParams = { ...params };

                    response.rawData.forEach((item, index) => {
                        chartLabels[index] = (item.monthly)
                        chartData[index] = (item.earning)
                    })

                    response.dataCustomer.forEach((item, index) => {
                        chartCustomerLabel[index] = item.customer_name
                        chartCustomerSales[index] = item.sales_count
                    })

                    myLineChart.data.labels = chartLabels
                    myLineChart.data.datasets[0].data = chartData
                    myLineChart.update()

                    myPieChart.data.labels = chartCustomerLabel
                    myPieChart.data.datasets[0].data = chartCustomerSales
                    myPieChart.update()

                    let monthlyThead = document.getElementById('monthlyThead')
                    let expenseThead = document.getElementById('expenseThead')
                    let revenueThead = document.getElementById('revenueThead')
                    let earningThead = document.getElementById('earningThead')

                    if (params.sortBy == "date" && params.order == "asc") {
                        monthlyThead.className = 'sorting sorting_asc'
                    } else if (params.sortBy == "date" && params.order == "desc") {
                        monthlyThead.className = 'sorting sorting_desc'
                    } else {
                        monthlyThead.className = 'sorting'
                    }

                    if (params.sortBy == "expense" && params.order == "asc") {
                        expenseThead.className = 'sorting sorting_asc'
                    } else if (params.sortBy == "expense" && params.order == "desc") {
                        expenseThead.className = 'sorting sorting_desc'
                    } else {
                        expenseThead.className = 'sorting'
                    }

                    if (params.sortBy == "revenue" && params.order == "asc") {
                        revenueThead.className = 'sorting sorting_asc'
                    } else if (params.sortBy == "revenue" && params.order == "desc") {
                        revenueThead.className = 'sorting sorting_desc'
                    } else {
                        revenueThead.className = 'sorting'
                    }

                    if (params.sortBy == "earning" && params.order == "asc") {
                        earningThead.className = 'sorting sorting_asc'
                    } else if (params.sortBy == "earning" && params.order == "desc") {
                        earningThead.className = 'sorting sorting_desc'
                    } else {
                        earningThead.className = 'sorting'
                    }

                    let htmlTbody = '';
                    let htmlTfoot = '';
                    let totalExpense = 0;
                    let totalRevenue = 0;
                    let totalEarning = 0;
                    response.data.forEach((item, index) => {
                        htmlTbody += `
                            <tr>
                                <td>${item.monthly}</td>
                                <td>${formatCurrency(item.expense)}</td>
                                <td>${formatCurrency(item.revenue)}</td>
                                <td>${formatCurrency(item.earning)}</td>
                            </tr>
                        `
                    })

                    response.rawData.forEach((item, index) => {
                        totalExpense += item.expense
                        totalRevenue += item.revenue
                        totalEarning += item.earning
                    })
                    htmlTfoot += `
                        <tr>
                            <th rowspan="1" colspan="1">Total</th>
                            <th rowspan="1" colspan="1">${formatCurrency(totalExpense)}</th>
                            <th rowspan="1" colspan="1">${formatCurrency(totalRevenue)}</th>
                            <th rowspan="1" colspan="1">${formatCurrency(totalEarning)}</th>
                        </tr>
                    `
                    document.querySelector('table tbody').innerHTML = htmlTbody
                    document.querySelector('table tfoot').innerHTML = htmlTfoot
                    document.getElementById('purchases').innerText = formatCurrency(totalExpense)
                    document.getElementById('sales').innerText = formatCurrency(totalRevenue)
                    document.getElementById('earning').innerText = formatCurrency(totalEarning)
                    document.getElementById('totalsales').innerText = response.totalSales

                    let startingIndex = (response.page - 1) * response.limit

                    let showEntryText = ''
                    if (response.totalData == 0) {
                        showEntryText += `Showing 0 to 0 of 0 entries`
                    } else if (response.page * response.limit > response.totalData || response.limit == 0) {
                        showEntryText += `Showing ${startingIndex + 1} to ${response.totalData} of ${response.totalData}`
                    } else {
                        showEntryText += `Showing ${startingIndex + 1} to ${response.page * response.limit} of ${response.totalData}`
                    }
                    document.getElementById('dataTable_info').innerText = showEntryText

                    let paging = '';

                    if (!(params.page == 1)) {
                        newParams.page = params.page - 1;
                        paging += `<li class="paginate_button page-item previous enabled"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'><span class="text-primary" aria-hidden="true">Previous</span></button></li>`
                    } else {
                        paging += `<li class="paginate_button page-item previous disabled"><span class="text-gray-600 page-link" aria-hidden="true">Previous</span></li>`
                    }

                    newParams.page = 1;
                    for (let i = 1; i <= response.totalPages; i++) {
                        if (response.page == i) {
                            newParams.page = i;
                            paging += `<li class="page-item active"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'>${i}</button></li>`
                        }
                        else {
                            newParams.page = i;
                            paging += `<li class="page-item"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'>${i}</button></li>`
                        }
                    }

                    if (!(params.page == response.totalPages)) {
                        newParams.page = params.page + 1
                        paging += `<li class="paginate_button page-item next enabled"><button type="button" class="page-link" onClick='readData(${JSON.stringify(newParams)})'><span class="text-primary" aria-hidden="true">Next</span></button></li>`
                    } else {
                        paging += `<li class="paginate_button page-item next disabled"><span class="text-gray-600 page-link" aria-hidden="true">Next</span></li>`

                    }
                    document.querySelector('.pagination').innerHTML = paging
                })
                    .catch((err) => {
                        console.error(err);
                    });
            }

            readData(readParams)

            document.getElementById('dataTable_length').addEventListener('change', function () {
                const selectElement = document.getElementById('dataTable_length')
                readParams.limit = parseInt(selectElement.value)
                console.log(readParams)
                readData(readParams)
            });

            document.getElementById('search-input').addEventListener('change', function () {
                const searchInput = document.getElementById('search-input')
                const selectElement = document.getElementById('dataTable_length')
                readParams.limit = parseInt(selectElement.value)
                readParams.query = searchInput.value
                console.log(readParams.query)
                readData(readParams)
            })

            const monthlyThead = document.getElementById('monthlyThead')
            const expenseThead = document.getElementById('expenseThead')
            const revenueThead = document.getElementById('revenueThead')
            const earningThead = document.getElementById('earningThead')

            monthlyThead.onclick = function () {
                if (readParams.sortBy != 'date') {
                    readParams.sortBy = 'date'
                    readParams.order = 'asc'
                } else if (readParams.order == 'asc') {
                    readParams.order = 'desc'
                } else {
                    readParams.order = 'asc'
                }
                readData(readParams)
            }

            expenseThead.onclick = function () {
                if (readParams.sortBy != 'expense') {
                    readParams.sortBy = 'expense'
                    readParams.order = 'asc'
                } else if (readParams.order == 'asc') {
                    readParams.order = 'desc'
                } else {
                    readParams.order = 'asc'
                }
                readData(readParams)
            }

            revenueThead.onclick = function () {
                if (readParams.sortBy != 'revenue') {
                    readParams.sortBy = 'revenue'
                    readParams.order = 'asc'
                } else if (readParams.order == 'asc') {
                    readParams.order = 'desc'
                } else {
                    readParams.order = 'asc'
                }
                readData(readParams)
            }

            earningThead.onclick = function () {
                if (readParams.sortBy != 'earning') {
                    readParams.sortBy = 'earning'
                    readParams.order = 'asc'
                } else if (readParams.order == 'asc') {
                    readParams.order = 'desc'
                } else {
                    readParams.order = 'asc'
                }
                readData(readParams)
            }

            document.getElementById('dashboardForm').addEventListener('submit', function (event) {
                event.preventDefault()
                readParams.startDate = document.getElementById('startDate').value
                readParamsCSV.startDate = document.getElementById('startDate').value
                readParams.endDate = document.getElementById('endDate').value
                readParamsCSV.endDate = document.getElementById('endDate').value
                const link = document.getElementById('csvLink')
                link.href = `http://localhost:3000/data/csv/?${new URLSearchParams(readParamsCSV).toString()}`
                readData(readParams)
            });
            
        </script>
    </body>

    </html>